<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %30.30(%logger{30}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="de.learnlib" level="OFF"/>
    <logger name="de.learnlib.profiling" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
